html {
    font-family: "Forum", serif;
    font-weight: 400;
    font-style: normal;
    overflow-x: hidden;
}

header {
    position: fixed;
    top: 0;
    height: 6rem;
    background-color: white;
    width: 100%;
    padding-top: 2rem;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
}

#headerLeft {
    margin-left: 1rem;
}

#headerRight {
    margin-right: 1rem;
}

#details {
    margin-left: 4.25rem;
    margin-top: 1rem;
    font-size: 1rem;
}

.largeFont {
    font-size: 1.75rem;
}

#links{
    margin-top: 1rem;
    font-size: 1rem;

}

a {
    padding: 10px;
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
    color: gold;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.pink {
    color: pink;
    font-style: italic;
}

body {
    padding: 0px;
    margin: 0px;
    margin-top: 10rem;
    display: flex;
    width: 100%;
}

#homeBox {
    width: 100%;
    height: auto;
}

#mainTitle {
    font-size: 3rem;
    line-height: 4rem;
    font-style: italic;
    text-align: center;
    background-image: url('images/homeImg-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 80vh;
    width: 90%;
    justify-self: center;
}

#titleWelcome {
    padding-top: 6rem;
    display: block;
    margin-right: 20rem;
    font-style: italic;

}

#titleName {
    padding-top: 3rem;
    display: block;
    font-style: italic;

}

#titlePhoto {
    padding-top: 1rem;
    display: block;
    margin-left: 13rem;
    font-style: italic;
}

#highlights {
    margin-top: 1.5rem;
    background-color: lightblue;
    height: 15rem;
    width: 45%;
    text-align: center;
    vertical-align: bottom;
    font-size: 4rem;
    position: relative;
}

#highlights div{
    position: absolute;
    bottom: 10;
    right: 50;
}

#homeGallery {
    height: 200vh;
    width: 90%;
}

#homeGallery img {
    border-radius: 10px;
}

#couplesTitle {
    position: relative;
    font-size: 1.5rem;
    top: 150;
    left: 660;
}

#couples1 {
    position: relative;
    top: -200;
    left: 1200;
    height: 25%;
}

#couples2 {
    position: relative;
    top: 200;
    left: 300;
    height: 25%;
}

#seniorsTitle {
    position: relative;
    font-size: 1.5rem;
    top: 600;
    left: 260;
}

#seniors1 {
    position: relative;
    top: 550;
    left: 500;
    width: 45%;
}

#seniors2 {
    position: relative;
    top: 300;
    left: 300;
    width: 35%;
}

#familyTitle {
    position: relative;
    font-size: 1.5rem;
    top: 700;
    left: 400;
}

#family1 {
    position: relative;
    top: 800;
    left: 500;
    width: 55%;
}

#family2 {
    position: relative;
    top: 450;
    left: 250;
    width: 35%;
}

#email {
    position: relative;
    top: 500; 
    margin-left: 2rem;
    padding: 1.5rem;
}

/* about styles */

#aboutImg {
    width: 50%;
    margin: 3rem;
    border-radius: 10px;
}

#aboutBox {
    display: flex;
    flex-direction: row;
}

/* pricing styles */

#pricingBox {
    margin: 3rem;
}

#pricingBox li {
    padding: .25rem;
}

.price {
    font-style: italic;
    padding-left:.5rem;
}

/* contact styles */

#contactBox {
    width: 100%;
    align-items: center;
    justify-items: center;
}

#contactFrame {
    background-image: url('otherImages/frame.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 80vh;
    width: 50vw;
    display: flex;
    justify-content: center;
}

#contactFrame div {
    margin: 10rem 7rem;
    font-size: 3rem;
    text-align: center;
}

#imageContainer {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
  }

  #imageContainer img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
    object-fit: cover;
  }

  #mainTitle {
    font-size: 2rem;
    font-weight: bold;
    margin: 20px;
  }

  #titlePhoto {
    font-weight: lighter;
    font-style: italic;
    margin-left: 10px;
  }